# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=szakdoga
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5433


# Backend
PROJECT_NAME=Tic-Tac-Toe
VERSION=1.0.0
ADMIN_PASSWORD=admin_password_change_this

JWT_SECRET=your_jwt_secret_key_change_this # At least 64 characters for HS256
JWT_ALG=HS256
ACCESS_TTL_SECONDS=1031
REFRESH_IDLE_SECONDS=604800

CORS_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:4173
CORS_CREDENTIALS=true
CORS_METHODS=*
CORS_HEADERS=*

DB_BACKEND=POSTGRES

DEFAULT_MENACE_ID=menID
DEFAULT_BACKPROP_NN_ID=backpropID
DEFAULT_GENETIC_NN_IND_ID=2

TRUSTED_PROXIES=127.0.0.1
TRUSTED_HOSTS=localhost,127.0.0.1

GENETIC_POP_TOTAL = 180
GENETIC_ISLANDS = 6
GENETIC_GENERATIONS = 200
GENETIC_TOURNAMENT_SIZE = 4
GENETIC_INITIAL_MUTATION_PROB = 0.2
GENETIC_FINAL_MUTATION_PROB = 0.05
GENETIC_INITIAL_MUTATION_SIGMA = 0.7
GENETIC_FINAL_MUTATION_SIGMA = 0.15
GENETIC_MIGRATION_INTERVAL = 5
GENETIC_MIGRANTS_PER_ISLAND = 3
GENETIC_STAGNATION_THRESHOLD = 0.005
GENETIC_EXTINCTION_THRESHOLD = 25
GENETIC_WIN_REWARD = 1.0
GENETIC_DRAW_REWARD = 0.5
GENETIC_LOSS_PENALTY = -1.0
GENETIC_LAYER_SIZES =[18, 24, 12, 9]

BACKPROP_EPOCHS = 1000
MENACE_EXPLORATION = 20000
MENACE_EXPLOITATION = 150000


SKIP_DEFAULT_PLAYER_TRAINING=true # Set to "false" to train default players on first run

CONSOLE_LOG_LEVEL=INFO
LOG_FILE=""

RATE_LIMIT_ENABLED=true

# Port mapping
BACKEND_PORT=8000
FRONTEND_PORT=5173

# Frontend
VITE_BACKEND_URL=http://localhost:8000
VITE_BACKEND_WS=ws://localhost:8000