PROJECT_NAME = "Tic-Tac-Toe"
VERSION = "1.0.0"
JWT_SECRET = "SuperTopSecretJWTSecretKeyForHS256" # At least 64 characters for HS256
JWT_ALG = "HS256"
ACCESS_TTL_SECONDS = 1031
REFRESH_IDLE_SECONDS = 604800
CORS_ORIGINS = "http://localhost:3000,http://localhost:5173,http://localhost:4173"
CORS_CREDENTIALS = "true"
CORS_METHODS = "*"
CORS_HEADERS = "*"
TRUSTED_PROXIES = "127.0.0.1,10.0.0.0/8"
TRUSTED_HOSTS = "localhost,127.0.0.1"

ADMIN_PASSWORD = "admin"

TRAINING_PROCESS_COUNT = 3

DISABLE_PERIODIC_TASKS = "false"
DISABLE_TRAINING = "false"
RATE_LIMIT_ENABLED = "false"

DB_DSN = "" # if dsn is set, it will be used, otherwise the postgres settings below will be used
DB_BACKEND = "postgres"
POSTGRES_HOST = "localhost"
POSTGRES_PORT = "5432"
POSTGRES_USER = "myuser"
POSTGRES_PASSWORD = "abc123"
POSTGRES_DB = "mydatabase"
DB_SCHEMA = "public"


DB_POOL_SIZE = 10
DB_MAX_OVERFLOW = 20
DB_POOL_TIMEOUT = 30.0
DB_POOL_RECYCLE = 1800
DB_ECHO_SQL = "false"

DEFAULT_MENACE_ID = "id-12345"
DEFAULT_BACKPROP_NN_ID = "id-67890"
DEFAULT_GENETIC_NN_IND_ID = "id-54321"

LOG_FILE = "app.log"
FILE_LOG_LEVEL = "WEBSOCKET"
CONSOLE_LOG_LEVEL = "DEBUG"

GENETIC_POP_TOTAL = 150
GENETIC_ISLANDS = 5
GENETIC_GENERATIONS = 150
GENETIC_TOURNAMENT_SIZE = 4
GENETIC_INITIAL_MUTATION_PROB = 0.2
GENETIC_FINAL_MUTATION_PROB = 0.05
GENETIC_INITIAL_MUTATION_SIGMA = 0.7
GENETIC_FINAL_MUTATION_SIGMA = 0.15
GENETIC_MIGRATION_INTERVAL = 5
GENETIC_MIGRANTS_PER_ISLAND = 3
GENETIC_STAGNATION_THRESHOLD = 0.005
GENETIC_EXTINCTION_THRESHOLD = 25
GENETIC_WIN_REWARD = 1.0
GENETIC_DRAW_REWARD = 0.5
GENETIC_LOSS_PENALTY = -1.0
GENETIC_LAYER_SIZES = [18, 24, 12, 9]